<main>
    <section class="hero">
        <div class="hero-inner">
            <h1>New Releases This Week</h1>
            <p>
                It's time to update your reading list with some of <br>
                the latest and greatest releases in the literary world.<br>
                From heart-pumping thrillers to captivating memoirs, <br>
                this week's new releases offer something for everyone<br>
            </p>
            <button class="buy">
                <a routerLink="/store">Shop Now</a>
            </button>
        </div>
        <div class="banner">
            <img src="./assets/img/books.svg" alt="Image 1">
        </div>
    </section>
    <app-product-carousel></app-product-carousel>
</main>
